[Desktop Entry]
Name=axupdate
Comment=OS Update Manager for axpm
Exec=pkexec /usr/local/bin/axupdate.py
TryExec=/usr/local/bin/axupdate.py
Icon=/usr/share/pixmaps/axupdate.svg
Terminal=false
Type=Application
Categories=System;Settings;
StartupWMClass=axupdate
